body {
  background-color: rgb(154, 154, 154);
  margin: 50px 50px 0 50px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex: 2;
}

span{
  color: rgb(19, 19, 75);
}

h1 {
  font-size: 80px;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

.card {
  width: 45%;
  
}

.left {
  float: left;
}

.right {
  float: right;
}


@media (max-width: 680px){

  .logo {
    width: 100%;
  }
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  .card {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    text-align: justify;
  }

  
  .card img {
    display: inline;
    margin-bottom: 10px;
    object-fit: cover;
    width: 100%;
    }
}